custom1 {
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

custom2.centimeter {
    size: 1cm;
    font-family: Arial, Helvetica, sans-serif;
}

custom2.meter {
    size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

custom2.nicekround {
    size: 828em;
    font-family: Arial, Helvetica, sans-serif;
}

custom2.kilometer {
    size: 1000em;
    font-family: Arial, Helvetica, sans-serif;
}