h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkorange;
}

h1.orange {
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}

h1.yellow {
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
}

h1.blue {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

h1.absolute {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(215, 221, 27, 0.95);
}

h1.red {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

h1.magenta {
    font-family: Arial, Helvetica, sans-serif;
    color: magenta;
}

h1.mod {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(7, 163, 240);
}

h1.unmod {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(3, 107, 158);
}
