h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkorange;
}

h5.orange {
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}

h5.yellow {
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
}

h5.blue {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

h5.absolute {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(215, 221, 27, 0.95);
}

h5.red {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

h5.magenta {
    font-family: Arial, Helvetica, sans-serif;
    color: magenta;
}

h5.mod {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(7, 163, 240);
}

h5.unmod {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(3, 107, 158);
}